
Allegro Game/Allegro Game.depend
Allegro Game/Allegro Game.layout
Allegro Game/allegro.log
Allegro Game/save.sav
Allegro Game/Allegro Game.depend
*.depend
*.layout
*.log
*.exe
*.o
*.o
*.sav
*.log
*.exe
*.o
*.sav
Allegro Game/Allegro Game.depend
Allegro Game/Allegro Game.layout
Allegro Game/allegro.log
Allegro Game/bin/Debug/Allegro Game.exe
Allegro Game/obj/Debug/src/attacks.o
Allegro Game/obj/Debug/src/main.o
Allegro Game/obj/Debug/src/menuPause.o
Allegro Game/obj/Debug/src/move.o
Allegro Game/save.sav
